certifi==2019.9.11
chardet==3.0.4
class==1.0.0
idna==2.8
image==1.5.27
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.18
mysqlclient==1.4.6
phonenumbers==8.10.23
protobuf==3.10.0
py3dns==3.2.1
PyJWT==1.7.1
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
status==0.2.5
urllib3==1.25.8
validate-email==1.3
